<h4 class="card-title">Send a Text Message!</h4>
<form method="post" class="span12">
  <fieldset class="form-group">
    <textarea name="content" placeholder="Content" class="form-control" rows="4"></textarea>
  </fieldset>
  <fieldset>
    <input type="tel" name="phone_number" placeholder="Phone Number" class="form-control">
  </fieldset class="form-group">
  <button type="submit" value="Send!" class="btn btn-primary">Submit</button>
</form>