<h4 class="card-title">Send a Text Message!</h4>
<form method="post" class="span12">
  <fieldset class="form-group">
    <label for="text_content">Content</label>
    <textarea name="content" id="text_content" class="form-control" rows="4"></textarea>
  </fieldset>
  <fieldset class="form-group">
    <label for="text_phone_number">Phone Number</label>
    <input type="tel" name="phone_number" id="text_phone_number" class="form-control">
  </fieldset>
  <button type="submit" value="Send!" class="btn btn-primary form-control">Send</button>
</form>